body {
  background-color: #44ac01;
  background-image: url("./Water-Bubbles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

span {
  color: #e31958;
  font-size: 3em;
  font-family: "Toys R Us 2007", sans-serif;
  text-shadow: 3px 3px 4px #000;
}

.container {
  margin-top: 20em;
}
